{% extends 'base.html'%}
{% load get_id_tag %}
{% load static %}

{% block title %}
Swap
{% endblock %}

{% block content %}

<section class="pb-3">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-12">

                <div class="row">
                    {% for offer in offers %}
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">
                            {% if offer.photo %}
                            <a href="{% url 'bought_offer' offer|mongo_id %}"><img src="{{offer.photo}}" class="card-img-top" alt="card text"> </a>
                            {% else %}
                            <a href="{% url 'bought_offer' offer|mongo_id %}"><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'offer' offer|mongo_id %}">{{offer.title|truncatewords_html:20|safe}}</a></h5>
                                <p class="card-text"><a href="{% url 'offer' offer|mongo_id %}">{{ offer.description|truncatewords_html:30|safe }}</a></p>
                                <p class="card-text"><a href="{% url 'offer' offer|mongo_id %}">{{ offer.city|truncatewords_html:20|safe }}</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     <form action="{% url 'export_bought_offers_to_json' %}" method="GET">
                        <button type="submit" class="px-5 btn" style="margin-top: 10px; color: rgb(191, 120, 163); border-style: solid; border-width: 0.5px; border-color: rgb(191, 120, 163);" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Export to JSON
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
{% endblock %}

