{% extends 'base.html'%}
{% load static %}

{% block title %}
hello
{% endblock %}

{% block content %}
<section class="pb-3">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-12">

                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">

                            <a href=""><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Название товара</a></h5>
                                <p class="card-text"><a href="#">Описание товара</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">

                            <a href=""><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Название товара</a></h5>
                                <p class="card-text"><a href="#">Описание товара</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">

                            <a href=""><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Название товара</a></h5>
                                <p class="card-text"><a href="#">Описание товара</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">

                            <a href=""><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Название товара</a></h5>
                                <p class="card-text"><a href="#">Описание товара</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">

                            <a href=""><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Название товара</a></h5>
                                <p class="card-text"><a href="#">Описание товара</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">

                            <a href=""><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Название товара</a></h5>
                                <p class="card-text"><a href="#">Описание товара</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

</section>
{% endblock %}

