{% extends 'base.html'%}
{% load get_id_tag %}
{% load static %}

{% block title %}
Swap
{% endblock %}

{% block content %}
<style>
.pagination a {
  color: black;
  float: left;
  margin: auto;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: lightcoral;
  color: white;
}
.pagination a:hover:not(.active) {background-color: rgb(223, 136, 136);}
</style>
<section class="pb-3">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-12">

                <div class="row">
                    {% for offer in page_obj %}
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card">
                            {% if offer.photo %}
                            <a href="{% url 'offer' offer|mongo_id %}"><img src="{{offer.photo}}" class="card-img-top" alt="card text"> </a>
                            {% else %}
                            <a href="{% url 'offer' offer|mongo_id %}"><img src="{% static '/icon/offer_default.jpg' %}" class="card-img-top" alt="card text"> </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'offer' offer|mongo_id %}">{{offer.title|truncatewords_html:20|safe}}</a></h5>
                                <p class="card-text"><a href="{% url 'offer' offer|mongo_id %}">{{ offer.description|truncatewords_html:30|safe }}</a></p>
                                <p class="card-text"><a href="{% url 'offer' offer|mongo_id %}">{{ offer.city|truncatewords_html:20|safe }}</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links my_pag">
                            <span class="pages">
                                {% for page_number in page_obj.paginator.page_range %}
                                  {% if page_number == page_obj.number %}
                                  <a href="{{full_path}}&page={{page_number}}" class="active">{{page_number}}</a></li>
                                  {% else %}
                                    <a href="{{full_path}}&page={{page_number}}">{{page_number}}</a></li>
                                  {% endif %}
                                {% endfor %}
                              </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
{% endblock %}

